<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><center>CollegeRank</center></h1>
  <br/>
  <h2>An agglomeration of several ranking methods designed to reveal the top undergraduate institutions in the United States.</h2>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <input type="submit" name="data" value="Get Data">
  {% block body %}{% endblock %}
</div>